

@import "../../App.scss";

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1200px;
    padding-top: 3rem;
    margin: 1rem auto 2rem;
    overflow: hidden;
}


.footer__row {
    display: flex;
    flex-direction: column;
}

.footer__text {
    padding: 0.3rem;
    margin: .5rem 1rem;
    color: $light__color;
    text-align: center;
    line-height: 1.3;
    font-size: calc(8px + 6 * ( 100vw / 1180 ));;
}
.footer__text>a {
    text-decoration: underline;
}
.footer__text>a:hover {
    text-decoration: none;
}
.footer__end>.footer__text {
    font-size: calc(8px + 9 * ( 100vw / 1180 ));;
    margin: 1rem auto .5rem;
    text-align: center;
}


@media (min-width: 500px) {
    .footer {
        margin-top: 2rem;
    }
    .footer__text {
        text-align: start;
        margin: .5rem 0.5rem;
    }
    .footer__row {
        flex-direction: row;
        justify-content: space-between;
    }
    .row__element {
        flex-basis: 30%;
    }
}

